<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958245370392-6rm7f805rk9b4ahhlhvp320ojq5o9ivu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958245370392-6rm7f805rk9b4ahhlhvp320ojq5o9ivu</string>
	<key>API_KEY</key>
	<string>AIzaSyAq0cCwSGpAsUGmPERdaihLcjIs9TJGlf0</string>
	<key>GCM_SENDER_ID</key>
	<string>958245370392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swatiM.SocioutApp</string>
	<key>PROJECT_ID</key>
	<string>socioutapp</string>
	<key>STORAGE_BUCKET</key>
	<string>socioutapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958245370392:ios:c521738afb0a36a888616d</string>
</dict>
</plist>